/** Services section **/
.container-services{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    margin-bottom: 20px;
}
.container-services h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 20px;
    font-weight: 600px;
    position: relative;
}
.container-services h1::after{
    content: '';
    background: #3d88ff;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.services{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.6s, background 0.6s;
}
.services i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #3d88ff;
}
.services h2{
    font-weight: 600;
    margin-bottom: 8px;
}
.services:hover{
    background: #3d88ff;
    color: #fff;
    transform: scale(1.05s);
}
.services:hover h2{
    color: #fff;
}
.services:hover i{
    color: #fff;
}
.services:hover svg{
    fill: #fff;
}

/** end services section **/

        /** end services section **/

        /** Footer section **/
        
        /** Footer section End**/